body {
    background-color:#375700;
    color:lavenderblush;
    text-align:center;
}

h2 {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}

li {
    list-style-type: none;
}

button {
    width:40%;
    margin:auto;
}

.btn-outline-light {
    width:100%;
}

.container {

    margin:0;
    padding:0;

}

.card {
    background-color:black;
    float:left;
    width:20%;
    height:13vw;
    overflow-y:scroll;
    font-size:medium;
}

.left {
    float: left;
    width: 33%;
    padding:none;
    margin:none;
    text-align: center;
 }

 .right {
    float: right;
    width: 67%;
    padding:none;
    margin:none;
    text-align: center;
 }

.jumbotron {
    display:grid;
    margin:0;
}

.modal-content {
    background:#000;
    outline:#000;
}

.modal-header {
    background:#333;
    font-size:large;
}

.tester:hover {
    color:#333;
}

.cardDet:hover {
    color:rgb(29, 2, 57);
    background: gray;
}

.btn-danger,.btn-info {
    width:100%;
}



#find-drink {
    float:inline-end;
}


#searching {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3; 
}




